* { transition: all .3s ease-in-out; }

.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.gmnoprint, .gm-fullscreen-control { display: none !important; }

.rtl { direction: rtl; }

.location-btn-cont {
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: {
    direction: column;
    wrap: wrap;
  }
}

.location-btn span { font-weight: 700 !important; }

.search-marker {
  width: 23px;
  height: 23px;
  border-radius: 24px;
  background-color: #fff;
  color: #F8333C;
  border: 3px solid #F8333C;
  font: {
    size: 17px;
    weight: 700;
    family: 'Heebo', sans-serif;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 1px darken(#d8d8d8, 10%);

  &.active {
    background-color: #d8d8d8;
  }
}

.place-info {
  display: flex;
  flex: {
    direction: column;
    wrap: wrap;
  }
  min-height: none !important;
  padding: 12px 0 !important;

  h1 { line-height: 1.3; }
  h3 {
    font-size: 12px;
    color: #757575;
    line-height: 1.5;
  }
}
